<!DOCTYPE html>
<html><head>
	<meta charset="UTF-8" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://blog.aloodo.org/index.rss" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" media="all" href="https://www.aloodo.org/style.css" />
</head>
<body>
{{> header}}

<div id="wrapper"><main>
	<h1>{{ title }}</h1>

	<progress id="testprogress" max="23000" value="0" style="display: none; width: 100%"></progress>

	<div id="message">{{{ contents }}}</div>

</main></div>

{{> footer}}

<script src="/code/check3p.js"></script>
<script src="/js/smartquotes.js"></script>
<script src="https://ad.aloodo.com/track.js"></script>
<script>smartquotes();</script>

</body></html>

